<%- include("../includes/top") %>
<%- include("../includes/nav") %>


   <form action="/reset" method="post" class="myform">
    <label>
        Enter your email
        <input type="text" name="email" id="">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </label>
    <input type="submit" value="Reset Password">
   </form>
<%- include("../includes/bottom") %>
